.aContainer {
    width: 100vw;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.titleA {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
}

.cardContent {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

/* Media queries for responsiveness */

@media screen and (max-width: 768px) {
    .aContainer {
        padding: 20px; /* Adjust padding for smaller screens */
    }

    .titleA {
        margin-top: 10px; /* Adjust margin for smaller screens */
    }

    .cardContent {
        padding: 10px; /* Adjust padding for smaller screens */
        gap: 10px; /* Adjust gap for smaller screens */
    }
}
