.success-container {
    max-width: 600px;
    height: 90vh;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    padding-top: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .success-container h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: green;
  }
  
  .success-container p {
    margin-bottom: 10px;
  }
  
  .store-details {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    text-align: left;
    margin-top:20px ;
  }
  
  .store-details p {
    margin-bottom: 10px;
  }
  
  /* Add more styling as needed */
  