* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    border: 1px solid gray;
    z-index: 100;
    width: 100vw;
    height: 10vh;
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: fixed;
}

.logo {
    width: 25%;
    max-width: 180px;
    height: auto;
}

.link {
    text-decoration: none;
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: black;
    transition: .3s all;
}

.linkContainer {
    display: flex;
    gap: 2vw;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.login, .logout {
    padding: 1vh 3vw;
    background: #FF7716;
    color: white;
    border-radius: 20px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
    scale: 1.1;
}

.cartN {
    background-color: red;
    padding: 0.5vh 1vw;
    border-radius: 50%;
    color: white;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .logo {
        width: 20%;
        max-width: 180px;
        margin-bottom: 1vh;
    }

    .linkContainer {
        width: 100%;
    }

    .link{
        font-size: smaller;
    }

    .login, .logout {
        padding: 1vh 2vw;
        margin-bottom: 1vh;
    }
}

/* Add more media queries as needed */
